* {
  margin: 0;
  padding: 0;

  /* border: solid red 1px; */
}

.clear {
  clear: both;
}

#page {
  width: 995px;
  margin: 0 auto;
  border: solid 1px purple;
}

header {
  margin-top: 10px;

  border: solid 1px purple;
}

section {
  margin-top: 10px;

  height: 600px;
  border: solid 1px purple;
}

footer {
  height: 100px;
}

#title {
  float: left;

  height: 50px;
  padding: 13px 0 13px 0;

  font-size: 24px;
  text-align: center;
}

#lang_select {
  float: right;
}

#select_kor {
  float: left;

  background-color: #2D3340;
  color: white;
}

#select_eng {
  float: left;
  
  background-color: #2D3340;
  color: white;
}

#select_page {
  border: solid 1px purple;
}

#select_page li {
  float: left;
  width: 150px;
  height: 50px;

  list-style-type: none;
  text-align: center;

  border: solid 1px purple;
}

#today_date {
  margin-top: 10px;

  font-weight: bold;
}

#today_menu {
  margin-top: 10px;

  
}

.menu_template {
  border: solid 1px gray;
  height: 150px;
}

.food_place {
  float: left;
  width: 100px;

  margin: 50px 30px 10px 10px;

  text-align: center;

  border: solid 3px black;
}

.food_menu {
  float: left;
}

#site_info {
  border-top: 20px;
  
  font-size: 8px;
  text-align: center;
}

#site_info ul {
  list-style-type: none;
}